.blogContainer {
  background-color: #e6e9ed;
  padding-bottom: 30px;
}

.blogContainer-blogs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogContainer-coverPage {
  grid-column: 1;
}

.blogContainer-coverPage .blogContainer-coverPage__img {
  width: 100%;
}

.blogContainer-info {
  grid-column: 2;
  margin-left: 15px;
}

.blogContainer-info .blogContainer-info__title {
  font-size: 45px;
}

.blogContainer-info .blogContainer-info__paragraph {
  margin-bottom: 35px;
}

.blogContainer-info .blogContainer-info__link {
  color: black;
  padding: 10px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 0.3s all;
  border-radius: 5px;
}

.blogContainer-info__link:hover {
  border-color: #c3285d;
}
