.contactContainer {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: fixed;
  top: 70%;
  right: 0;
  margin-right: 5px;
}

.contactContainer .contactContainer-left,
.contactContainer-right,
.contactContainer-whats {
  display: flex;
  align-items: center;
  padding: 5px;
}

.contactContainer-envelope__link,
.contactContainer-heart__link,
.contactContainer-whats__link {
  padding-bottom: 2px;
  text-decoration: none;
  color: black;
}

.contactContainer-left__img,
.contactContainer-right__img,
.contactContainer-whats__img {
  width: 85%;
}

@media screen and (max-width: 750px) {
  .contactContainer {
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 7%;
    background-color: #e6e9ed;
    margin: 0 auto;
  }

  .contactContainer-envelope__link,
  .contactContainer-heart__link,
  .contactContainer-whats__link {
    padding: 0;
  }

  .contactContainer .contactContainer-left,
  .contactContainer-right,
  .contactContainer-whats {
    padding: 0;
    width: 20%;
    text-align: center;
  }

  .contactContainer-left__img,
  .contactContainer-right__img,
  .contactContainer-whats__img {
    width: 19%;
  }
}

@media screen and (max-width: 600px) {
  .contactContainer-left__img,
  .contactContainer-right__img,
  .contactContainer-whats__img {
    width: 22%;
  }
}

@media screen and (max-width: 400px) {
  .contactContainer-left__img,
  .contactContainer-right__img,
  .contactContainer-whats__img {
    width: 30%;
  }
}

@media screen and (max-width: 320px) {
  .contactContainer-left__img,
  .contactContainer-right__img,
  .contactContainer-whats__img {
    width: 40%;
  }
}
