.cardProject {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding: 40px 0;
  gap: 40px
}

.cardProject-card {
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  transition: all .3s;
}

.cardProject-card:hover {
  transform: scale(1.05);
}

.cardProject-img {
  position: relative;
  width: 100%;
  height: 140px;
}

.cardProject-img-sapn__img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.cardProject-info {
  padding: 15px;
}

.cardProject-title {
  font-size: 24px;
  margin: 0;
  font-weight: 900;
  color: black;
}

.cardProject-description {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 900;
  margin: 10px 0;
  color: rgb(156, 163, 175, 1);
}

.cardProject-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}

.cardProject-links-btn__details {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #cffafe;
  text-decoration: none;
  color: #207490;
  font-weight: 900;
  transition: all .3s;
  opacity: .7;
}

.cardProject-links-btn__visit {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dcfce7;
  text-decoration: none;
  color: #28803d;
  font-weight: 900;
  transition: all .3s;
  opacity: .7;
}

.cardProject-links-btn__details:hover,
.cardProject-links-btn__visit:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .cardProject {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media screen and (max-width: 550px) {
  .cardProject {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }

  .cardProject-card {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .cardsContainer {
    max-width: 100%;
  }
}
