.mainContainer {
  padding: 15px 0px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #4d5055;
  border-top: 1px solid #4d5055;
}

.main-container {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 1000px;
  min-height: 600px;
  position: relative;
}

.main-container__img {
  max-width: 170px;
  width: 100%;
  position: absolute;
  right: 35%;
  bottom: 0%;
  transition: all 0.3s;
}

.main-container__img:hover {
  transform: scale(0.9);
}

.main-containerImg {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px #00000063;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-container__description {
  width: 480px;
  height: 290px;
  padding: 12px;
  background-color: #eeeeee96;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  position: absolute;
  left: 16%;
  top: 7px;
  -webkit-animation-name: main-container__description;
  animation-name: main-container__description;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mainPosts-container {
  background-color: #f7ede2;
  border: 1px solid red;
}

.mainPosts-container .mainPosts-container__title {
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.container-line {
  max-width: 85%;
  margin: 10px auto;
  padding: 1px 0;
  background: linear-gradient(0.25turn, #000, #00bcd4, #000);
}

.mainPosts-container__card {
  display: grid;
}

.containerButton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.containerLinks {
  display: flex;
  width: auto;
}

.mainContainer-whats__link,
.mainContainer-git__link,
.main-container__mail,
.projectDestacado-link {
  text-decoration: none;
  color: black;
}

.projectLink-container {
  margin: 10px 0;
}

.mainContainer-whats__img,
.mainContainer-git__img {
  margin-left: 10px;
  width: 20px;
}

.mainContainer-linkProjects {
  text-align: center;
}

.mainContainer-linkProjects .mainContainer-linkProjects__link {
  background-color: black;
  color: white;
}

.mainContainer-linkProjects__link:hover {
  background-color: black;
  color: white;
}

.mainContainer-whats__link,
.mainContainer-git__link {
  display: flex;
  align-items: center;
  height: 35px;
  font-weight: 600;
}

.mainContainer-git__link {
  margin-left: 10px;
}

.mainContainer-whats__link:hover,
.mainContainer-git__link:hover,
.main-container__mail:hover {
  text-decoration: revert;
}

.projectsContainer-title {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: black;
  font-size: 40px;
  font-weight: 500;
  margin: 25px 0;
  color: white;
}

.instagramContainer {
  background-color: #76787a;
  border-top: 1px solid #a1a3a76e;
  border-bottom: 1px solid #a1a3a76e;
  padding-bottom: 30px;
}

.projectDestacado-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 290px;
  text-align: center;
}

.projectDestacado-link__img {
  transition: 0.4s all;
  margin: 10px 0;
}

.projectDestacado-link:hover {
  text-decoration: revert;
}

.projectDestacado-link:hover .projectDestacado-link__img {
  transform: rotate(360deg);
}

.ParagranphsImpact {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  line-height: 1.3;
  color: black;
}

.ParagranphsImpact span {
  color: #c3285d;
}

.main-container__paragraphs {
  margin: 10px 0;
  line-height: 1.4;
  color: black;
}

.main-container__paragraphs span {
  color: #c3285d;
  font-weight: 900;
}

.projectContainer-info__paragraph ul {
  list-style: none;
  padding-left: 0px;
}

.instagramContainer-title {
  text-align: center;
  margin: 20px 5px;
}

.main-container__mail {
  display: flex;
  align-items: center;
  width: 230px;
  margin-bottom: 10px;
  color: black;
}

.main-mail__logo {
  width: 25px;
  margin-left: 10px;
}

.instagram-container {
  display: grid;
  grid-template: auto / 2fr 1fr;
  align-items: center;
  padding: 10px 0;
}

.instagramContainer-img {
  width: 95%;
  margin-right: 10px;
  border-radius: 20px;
}

.instagramContainer-description {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 10px 10px 0 1px #000;
}

.instagram-container__title {
  font-size: 45px;
  margin: 0;
}

.instagramContainer-description__span {
  font-weight: 500;
  color: #4891f9;
}

.projectsContainer-buttons {
  display: flex;
  margin-bottom: 20px;
}

.projectsContainer-buttons__visit,
.projectsContainer-buttons__code {
  color: #fff;
  background-color: #555;
  padding: 10px;
  text-decoration: none;
  border: 2px solid #555;
  transition: all 0.3s;
  border-radius: 5px;
  font-weight: 900;
}

.projectsContainer-buttons__code {
  margin-left: 10px;
}

.projectsContainer-buttons__visit:hover,
.projectsContainer-buttons__code:hover {
  background-color: white;
  color: black;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes main-container__description {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes main-container__description {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    padding: 10px;
  }

  .main-container__paragraphs {
    font-size: 14px;
  }

  .ParagranphsImpact {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .instagram-container {
    grid-template: auto auto / 90%;
    justify-content: center;
    padding-bottom: 50px;
  }

  .instagramContainer-img {
    width: 100%;
    margin-bottom: 10px;
  }

  .instagramContainer-description {
    box-shadow: none;
  }

  .projectsContainer-buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .containerButton {
    margin-bottom: 45px;
  }

  .main-container__img {
    text-align: center;
  }

  .main-container__description {
    left: 0;
  }
}

@media screen and (max-width: 850px) {
  .main-container {
    min-height: 550px;
  }

  .main-container__img {
    right: 8%;
    max-width: 140px;
  }

  .main-container__description {
    width: auto;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .ParagranphsImpact,
  .instagramContainer-title {
    font-size: 16px;
  }

  .main-container__paragraphs {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .main-container__paragraphs {
    margin: 10px 0;
    font-size: 13px;
  }

  .mainContainer-whats__link,
  .mainContainer-git__link {
    height: auto;
  }

  .containerLinks {
    width: 100%;
    justify-content: center;
    margin: 10px 0;
  }

  .main-container__mail {
    margin: 0 auto;
    justify-content: center;
  }
}
