.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: white;
}

.headerContainer .headerContainer-logo {
  margin-left: 20px;
  height: 90px;
  display: flex;
  align-items: center;
}

.headerContainer-logo .headerContainer-logo__img {
  width: 130px;
  height: 55px;
  border-radius: 10px;
}

.headerContainer .headerContainer-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.headerContainer-link .headerContainer-link__perfil,
.headerContainer-link__projects {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.headerContainer-link__projects {
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .headerContainer-logo .headerContainer-logo__img {
    margin-left: 20px;
  }

  .headerContainer .headerContainer-logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .headerContainer {
    display: block;
    text-align: center;
    height: 115px;
  }

  .headerContainer .headerContainer-logo {
    margin-left: 0;
    justify-content: center;
  }

  .headerContainer-logo .headerContainer-logo__img {
    margin-left: 0;
  }

  .headerContainer .headerContainer-link {
    margin-right: 0;
    justify-content: space-evenly;
  }

  .headerContainer-link__projects {
    margin-right: 0px;
  }
}
