.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  padding: 20px 0;
  background-color: rgb(255, 255, 255, 0.60);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  backdrop-filter: blur(12px);
  border-bottom: 1px solid #cdd2da;
}

.headerContainer .headerContainer-title {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.headerContainer-title .headerContainer-title__img:hover {
  box-shadow: 0px 0px 1px 2px #c3285d;
}

.headerContainer-title__link {
  font-size: 30px;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  margin-left: 10px;
}

.headerContainer-title__link:hover {
  border-bottom-color: black;
}

.headerContainer .headerContainer-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.headerContainer-link__projects {
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.headerContainer-link .headerContainer-link__perfil,
.headerContainer-link__projects {
  color: #9f9f9f;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s;
}

.headerContainer-link__perfil:hover {
  color: black;
}

.headerContainer-link__projects:hover {
  color: black;
}

@media screen and (max-width: 1000px) {
  .headerContainer .headerContainer-title {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .headerContainer {
    display: block;
    text-align: center;
  }

  .headerContainer .headerContainer-title {
    margin-left: 0;
    justify-content: center;
  }

  .headerContainer .headerContainer-link {
    margin-right: 0;
    justify-content: space-evenly;
  }

  .headerContainer-link__projects {
    margin-right: 0px;
  }

  .headerContainer-link__perfil {
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .outstandingProjects-description {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
