.profileContainer {
  padding: 40px;
  border-top: 1px solid #cdd2da;
  border-bottom: 2px solid #cdd2da;
  margin-bottom: 30px;
}

.profile-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  max-height: 500px;
  height: 700px;
  width: 100%;
  position: relative;
}

.profile-container__span {
  color: #ff0057;
}

.text1-span__js,
.text1-span__react {
  font-weight: 500;
}

.profile-container__title {
  box-shadow: 0px 0px 5px 0px #00000063;
  width: 250px;
  padding: 30px;
  position: absolute;
  top: -12px;
  left: 13%;
  border-radius: 15px;
  margin: 0;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  user-select: none;
  transition: all 0.3s;
}

.profile-container__title:hover {
  background-color: cyan;
}

.profile-container__text1 {
  box-shadow: 0px 0px 5px 0px #00000063;
  width: 325px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: -30px;
  right: 3%;
  margin: 0;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  user-select: none;
  transition: all 0.3s;
}

.profile-container__text1:hover {
  background-color: #cf83ff;
}

.profile-container__text2 {
  box-shadow: 0px 0px 5px 0px #00000063;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  bottom: -15px;
  left: 12%;
  margin: 0;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  user-select: none;
  transition: all 0.3s;
}

.profile-container__text2:hover {
  background-color: #4891f9;
}

.profile-container__text3 {
  box-shadow: 0px 0px 5px 0px #00000063;
  width: 280px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  right: 8%;
  bottom: -32px;
  margin: 0;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  user-select: none;
  transition: all 0.3s;
}

.profile-container__text3:hover {
  background-color: #3ce097;
}

.presentation {
  border-radius: 20px;
  padding: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  box-shadow: 13px 13px 0px 1px black;
  background-color: white;
  max-width: 600px;
  position: absolute;
  left: 0;
  top: 0;
}

.presentationImg {
  position: absolute;
  left: 38%;
  bottom: 13%;
  max-width: 250px;
  width: 220px;
  height: 335px;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.profile-container__link {
  display: flex;
  align-items: center;
  height: 100%;
}

.profileContainer .profile-container__img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

.ProyectsContainer {
  height: 550px;
}

.ProyectsContainer-title {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 15px;
  text-align: center;
  margin: 0;
  font-size: 30px;
  user-select: none;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer-elements {
  padding: 0 15px;
  border-right: 1px solid #cdd2da;
  text-align: center;
}

.outstandingContainer-elements:last-child {
  border-right: none;
}

.project-container__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #555;
  transition: 0.3s all;
  border: 1px solid #555;
}

.project-container__link:hover {
  border-color: black;
  background-color: white;
  color: black;
}

.contacts {
  width: 200px;
  text-align: center;
  position: absolute;
  right: 11%;
  -webkit-animation-name: contacts;
  animation-name: contacts;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 1px solid #000000;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  transition: all 0.3s;
}

.contacts-text {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 500;
  margin: 7px;
  user-select: none;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(450px);
    transform: translateY(450px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(450px);
    transform: translateY(450px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes contacts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contacts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .profile-container__title,
  .profile-container__text1,
  .profile-container__text2,
  .profile-container__text3,
  .presentationImg {
    position: initial;
    margin: 0 auto;
  }

  .profile-container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    gap: 15px 0;
    max-height: initial;
    height: auto;
  }

  .contacts {
    position: initial;
  }
}

@media screen and (max-width: 750px) {
  .presentation {
    box-shadow: none;
  }

  .profileContainer {
    padding: 50px 20px;
  }

  .outstandingContainer {
    grid-template: 1fr 1fr 1fr / 1fr;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .ProyectsContainer {
    margin-bottom: 30px;
    height: auto;
  }

  .outstandingContainer-elements {
    border: none;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .ProyectsContainer {
    padding: 0 20px 30px;
  }

  .outstandingContainer {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 650px) {
  .profileContainer {
    padding: 25px 20px;
  }

  .profileContainer .profile-container {
    flex-direction: column;
  }

  .profile-container__link {
    text-align: center;
  }

  .ProyectsContainer-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 550px) {
  .ProyectsContainer {
    padding: 0 5px;
    margin-bottom: 60px;
  }

  .ProyectsContainer-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .profile-container__title,
  .profile-container__text1,
  .profile-container__text2,
  .profile-container__text3 {
    width: auto;
  }
}
