.profileContainer {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 30px;
}

.profileContainer .profile-container__img {
  height: 400px;
  margin-right: 30px;
}

.profileContainer .profile-container {
  display: flex;
}

.ProyectsContainer {
  height: 550px;
}

.ProyectsContainer .ProyectsContainer-title {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 15px;
  text-align: center;
  margin: 0;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer-elements {
  padding: 0 15px;
  border-right: 1px solid #cdd2da;
  text-align: center;
}

.outstandingContainer-elements:last-child {
  border-right: none;
}

.project-container__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #555;
  transition: 0.3s all;
  border: 1px solid #555;
}

.project-container__link acronym {
  text-decoration: none;
}

.project-container__link:hover {
  border-color: black;
  background-color: white;
  color: black;
}

@media screen and (max-width: 750px) {
  .profileContainer {
    padding: 50px 20px;
  }

  .outstandingContainer {
    grid-template: 1fr 1fr 1fr / 1fr;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .ProyectsContainer {
    margin-bottom: 30px;
    height: auto;
  }

  .outstandingContainer-elements {
    border: none;
    text-align: center;
  }

  .containerImages-mobile {
    height: 380px;
    width: 180px;
  }
}

@media screen and (max-width: 700px) {
  .ProyectsContainer {
    padding: 0 20px 30px;
  }

  .outstandingContainer {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 650px) {
  .profileContainer {
    padding: 25px 20px;
  }

  .profileContainer .profile-container {
    flex-direction: column;
  }

  .profileContainer .profile-container__img {
    margin: 0 auto;
    width: 70%;
    height: 50%;
  }

  .profile-container__link {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .ProyectsContainer {
    padding: 0;
    margin-bottom: 60px;
  }
}
