.profileContainer {
  padding: 70px 40px;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
}

.profileContainer .profile-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.presentationImg {
  max-width: 400px;
  height: 400px;
}

.profileContainer .profile-container__img {
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.presentation {
  border-radius: 20px;
  padding: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  box-shadow: 13px 13px 0px 1px black;
}

.ProyectsContainer {
  height: 550px;
}

.ProyectsContainer-title {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 15px;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.outstandingContainer-elements {
  padding: 0 15px;
  border-right: 1px solid #cdd2da;
  text-align: center;
}

.outstandingContainer-elements:last-child {
  border-right: none;
}

.project-container__link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #555;
  transition: 0.3s all;
  border: 1px solid #555;
}


.project-container__link:hover {
  border-color: black;
  background-color: white;
  color: black;
}

@media screen and (max-width: 750px) {
  .profileContainer .profile-container {
    flex-direction: column;
  }

  .profileContainer .profile-container__img {
    height: 350px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin-top: 5px;
  }

  .presentation {
    box-shadow: none;
  }

  .profileContainer {
    padding: 50px 20px;
  }

  .outstandingContainer {
    grid-template: 1fr 1fr 1fr / 1fr;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .ProyectsContainer {
    margin-bottom: 30px;
    height: auto;
  }

  .outstandingContainer-elements {
    border: none;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .ProyectsContainer {
    padding: 0 20px 30px;
  }

  .outstandingContainer {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 650px) {
  .profileContainer {
    padding: 25px 20px;
  }

  .profileContainer .profile-container {
    flex-direction: column;
  }

  .profile-container__link {
    text-align: center;
  }

  .ProyectsContainer-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 550px) {
  .ProyectsContainer {
    padding: 0 5px;
    margin-bottom: 60px;
  }

  .ProyectsContainer-title {
    font-size: 20px;
  }
}
