* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.generalContainer {
  max-width: 1000px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}
